* {
  margin: 0;
  padding: 0;
  font-family: "Prosto One";
  box-sizing: border-box;
}
body {
  background-color: #222;
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 25px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.card__error {
  text-align: left;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
  display: none;
}
.card__weather {
  display: none;
}
.card__search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.card__search input {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.card__search button {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.card__search img {
  width: 16px;
}
.card__weather h1 {
  font-size: 60px;
  font-weight: 500;
}
.card__weather h2 {
  font-size: 32px;
  font-weight: 400;
  margin-top: -10px;
}
.weather__icon {
  width: 170px;
  margin-top: 30px;
}
.weather__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 30px;
}
.details__column {
  display: flex;
  align-items: center;
  text-align: center;
}
.details__column img {
  width: 40px;
  margin-right: 10px;
}
.details__humidity,
.details__wind {
  font-size: 28px;
  margin-top: -6px;
}
